.header {
	background: url('./img/header_n.jpg') no-repeat;
	height: 250px;
	margin-bottom: 0px;
	text-align: right;
}

.header .title {
	color: #000;
	padding-top: 60px;
	padding-right: 40px;
	text-align: right;
}
.header .title .name a {
	color: #000;
	font-size: 5em;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
}
.header .title .name a:hover {border-color: #F60;}

.header .title .tag {
	text-align: right;
	font-size: 1.2em;
	letter-spacing: 0.2em;
	padding-top: 10px;
}
.navigation {
	padding-top: 50px;
	padding-right: 30px;
	background: #fff url('./img/header2.jpg') no-repeat;
	float: left; 
	width: 220px;
}
.navigation h2 {
	font: bold 1.6em sans-serif;
	line-height: 30px;
	margin: 0;
	padding-left: 11px;
}
.navigation ul {
	padding-bottom: 10px;
	border-top: 1px solid #000;
}
.navigation li {border-bottom: 1px solid #b1b1b1;}
.navigation li a {
	font-size: 1.1em;
	color: #7c7c7c;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
}
.navigation li a:hover {
	background: #c7c7c7;
	color: #282828;	
}
.content {
	margin-left: 250px;
	margin-top: 0px;
}
