html {
	min-height: 100%;
}

body {
	color: 		#282828;
	font: 		normal 78.5% sans-serif;
	margin: 	0;
	padding: 	0;
}

img {
	border:			0px;
	text-decoration:	none;
}

a {color: #4ba5da;}
a:hover {color: #282828;}
li {list-style: none;}

h1 {font: normal 2.3em sans-serif;}
h2 {font: normal 1.4em sans-serif;}
h3 {font: italic 1.2em sans-serif;}

h1,h2,h3 {
	padding-top: 	6px;
	color: 		#000; 
	margin-bottom: 	2px;
}

h1 img, h2 img {
	padding-right: 	5px;
	width:		22px;
	height:		22px;
	position: 	relative;
	top: 		3px;
}

label input {
	margin-right:	0.5em;
}

.content {
	margin-left: 	2em;
	margin-right: 	2em;
	margin-top: 	0px;
}

.inner-container {
	min-width: 	750px;
}

.footer {
	background: 	#dddddd;
	color:		#777;
	font: 		0.9em;
	margin-top: 	6px;
	padding: 	10px 12px 10px 2em;
	text-align: 	left;
}
.footer a {
	text-decoration: none;
}


div #pop-up {
	display: 	none;
	position:	absolute;
	color: 		white;
	background: 	rgba(0,0,0,0.6);
	padding: 	5px 10px 5px 10px;
	-moz-border-radius: 8px 8px;
	border-radius:	8px 8px;
	width: 		16em;
	font-size: 	12px;
}
div #pop-up-title {
	font-size: 	15px;
	width:		16em;
	margin-bottom:	4px;
	font-weight: 	bolder;
}
div #pop-up-description, div #pop-up-title {
	margin-bottom:	4px;
}
div #pop-up-values span{
	display: 	inline-block;
	width: 		10.5em;
}
