th{
	font-weight:	normal;
	background: none;
}

th,td {
	text-align: 	left;
	padding: 	4px 6px 4px 12px;
	border-right: 	1px solid #C1DAD7;
	border-bottom: 	1px solid #C1DAD7;
}

th:first-of-type, td:first-of-type {
	border-left: 	1px solid #c1dad7;
}

th {
	border-top: 	1px solid #C1DAD7;
	background: 	#f5fafa;
	vertical-align:	top;
}

td {
	background: #fff;
}

