html {
	min-height: 100%;
}

body {
	color: 		#282828;
	font-family:	sans-serif, Arial;
	margin: 	0;
	padding: 	0;
}

img {
	border:			0px;
	text-decoration:	none;
}

a {color: #4ba5da;}
a:hover {color: #282828;}
li {list-style: none;}


h1,h2,h3 {
	padding-top: 	6px;
	color: 		#000; 
	margin-bottom: 	2px;
}

h1 img, h2 img {
	padding-right: 	5px;
	width:		22px;
	height:		22px;
	position: 	relative;
	top: 		3px;
}

label input {
	margin-right:	0.5em;
}

.content {
	margin-left: 	2em;
	margin-right: 	2em;
	margin-top: 	0px;
}

.inner-container {
	min-width: 	750px;
}

.footer {
	background: 	#dddddd;
	color:		#777;
	font: 		0.9em;
	margin-top: 	6px;
	padding: 	10px 12px 10px 2em;
	text-align: 	left;
}
.footer a {
	text-decoration: none;
}


div #pop-up {
	display: 	none;
	position:	absolute;
	color: 		white;
	background: 	rgba(0,0,0,0.6);
	padding: 	5px 10px 5px 10px;
	-moz-border-radius: 8px 8px;
	border-radius:	8px 8px;
	width: 		18em;
	font-size: 	12px;
}
div #pop-up-title {
	font-size: 	15px;
	width:		16em;
	margin-bottom:	4px;
	font-weight: 	bolder;
}
div #pop-up-description, div #pop-up-title {
	margin-bottom:	4px;
}
span.popupvalue{
	display: 	inline-block;
	width: 		10.5em;
}

.clearer {
	clear: both;
}

span.errorbars {
	position:relative;
	font-size: 0.6em;
}

span.errorplus { 
	position:absolute;
	z-index: 1;
	top:-0.7em;
}

span.errorminus {
	position:relative;
	z-index: 2;
	top:0.3em;
}

span.NA {
	color: lightgray;
}

.header {
	background: url('/static/img/header_n.jpg') no-repeat;
	height: 250px;
	margin-bottom: 0px;
	text-align: right;
}

.header .title {
	padding-top: 60px;
	padding-right: 100px;
	text-align: right;
}
.header .title .name a {
	font-size: 4em;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
}
.header .title .name a:hover {border-color: #F60;}

.header .title .tag {
	text-align: right;
	font-size: 1.2em;
}
.navigation {
	padding-top: 50px;
	padding-right: 30px;
	background: #fff url('/static/img/header2.jpg') no-repeat;
	float: left; 
	width: 220px;
}
.navigation h2 {
	font-size:	1.3em;
	line-height: 30px;
	margin: 0;
	padding-left: 11px;
}
.navigation ul {
	padding-bottom: 10px;
	border-top: 1px solid #000;
}
.navigation li {border-bottom: 1px solid #b1b1b1;}
.navigation li a {
	font-size: 1.0em;
	color: #7c7c7c;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
}
.navigation li a:hover {
	background: #c7c7c7;
	color: #282828;	
}
.content {
	margin-left: 250px;
	margin-top: 0px;
}

#forkongithub a{
	background:#f00;
	color:#fff;
	text-decoration:none;
	font-family:arial,sans-serif;
	text-align:center;
	font-weight:bold;
	padding:5px 40px;
	font-size:1rem;
	line-height:2rem;
	position:relative;
	transition:0.5s;
}
#forkongithub a:hover{
	background:#fa0;
	color:#fff;
}
#forkongithub a::before, #forkongithub a::after{
	content:"";
	width:100%;
	display:block;
	position:absolute;
	top:1px;
	left:0;
	height:1px;
	background:#fff;
}
#forkongithub a::after{
	bottom:1px;
	top:auto;
}
@media screen and (min-width:800px){
	#forkongithub{
		position:absolute;
		display:block;
		top:0;
		right:0;
		width:200px;
		overflow:hidden;
		height:200px;
		z-index:9999;
	}
	#forkongithub a{
		width:200px;
		position:absolute;
		top:60px;
		right:-60px;
		transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		box-shadow:4px 4px 10px rgba(0,0,0,0.8);
	}
}




.btn {
	margin: 00px 0px 10px 0px;
	font-size: 1em;
  	padding: 10px 20px 10px 42px;
  	border: 1px solid #C1DAD7;
  	background-position: 10px center;
  	background-repeat: no-repeat;
	background-color: 	#f5fafa;
}

.editbutton{
	color: 			#aaa;
	margin-left: 		1em;
	border-radius: 		3px;
	height:			16px;
	line-height: 		16px;
	vertical-align: 	middle;
	padding:		0 4px 0 16px;
	background: 		url('/static/img/edit.png') no-repeat left center;
	border:			1px solid #aaa;
	font-size: 		0.5em;
	opacity:		0.5;
	text-decoration:	none;
	float:			right;

}
.editbutton:hover {
	opacity:		1.0;
	background-position:	left center;
}

.edit {
	padding: 4px; 
	width:	308px;
}

.edit label {
	display: inline-block;
	width: 160px;
	text-align:	right;
}

.edit input[type=text] {
	width: 130px;
  	margin-top: 2px;
  	margin-bottom: 2px;
  	padding: 2px;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

.editsubmit {
	margin-left:5em;
	width: 10em;
	font-size: 1em;
  	padding: 10px ;
  	border: 1px solid #C1DAD7;
	background-color: 	#f5fafa;
}
.editsubmit:hover {
	background-color: 	#c5cafa;
}

.editmessage {
	padding: 4px; 
	width:308px;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

