table, td, th
{
	border-color: 	#C1DAD7;
	border-style:	solid;
	empty-cells: 	show;
}

table
{
    	border-width: 	0 1px 1px 0px;
    	border-spacing: 0;
    	border-collapse: collapse;
}

td,th
{
    	margin: 	0;
	text-align: 	left;
 	border-width: 	1px 0 0 1px;
	padding: 	4px 6px 4px 12px;
}

th {
	font-weight:	normal;
	vertical-align:	top;
	background: 	#f5fafa;
}

tr.odd {
	background: 	#fafcfc;
}

.nobg {
	background: 	#fff;
    	border-width: 	0;
	
}

/* tablesorter class */
table.tablesorter thead tr .tsheader {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 20px;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.png);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
