{%extends "layout.html"%}
{%block content%}
<table>
	<tr>
		<th>Action</th>
		<th>Patch</th>
		<th>Paper</th>
		<th>Submitter ip</th>
		<th>Submitter name</th>

	</tr>
	{%for edit in edits%}
	<tr>
		<td style="vertical-align: top;">
			<form action="/edits/" method="post">
				<input type="hidden" value="{{edit["_id"]|safe}}" name="approve" /> 
				<input type="submit" value="Approve" />
			</form>
			<form action="/edits/" method="post">
				<input type="hidden" value="{{edit["_id"]|safe}}" name="delete" /> 
				<input  type="submit" value="Delete" />
			</form>
		</td>

		<td style="vertical-align: top;">
			<pre>
			{{- edit["patch"] -}}
			</pre>
		</td>
		<td style="vertical-align: top;"> 
			<a href="{{ edit["paper"] | safe }}">{{ edit["paper"] }}</a> 
		</td>
		<td style="vertical-align: top;"> 
			{{ edit["ip"] }}
		</td>
		<td style="vertical-align: top;"> 
			{{ edit["name"] }}
		</td>
	</tr>
	{%endfor%}
</table>
{%endblock content%}
