{% extends "layout.html" %}
{% block content %}

<p>
	The Open Exoplanet Catalogue is a catalogue of all discovered extra-solar planets. 
	It is a new kind of astronomical database.
	It is decentralized and completely open.
	We welcome contributions and corrections from both professional astronomers and the general public. 
</p>


<!-- ########################### -->
<h2><img src="/static/img/info.png" alt="info" />Statistics</h2>

<table cellspacing="0" summary="Statistics">
<tr>
	<th>Number of confirmed exoplanets</th>
	<td>{{numconfirmedplanets}}</td>
</tr><tr>
	<th>Total number of planets (including Solar System objects and unconfirmed exoplanets)</th>
	<td>{{numplanets}}</td>
</tr><tr>
	<th>Number of planetary systems</th>
	<td>{{numsystems}}</td>
</tr><tr>
	<th>Number of binary systems</th>
	<td>{{numbinaries}}</td>
</tr><tr>
	<th>Number of commits</th>
	<td>{{numcommits}}</td>
</tr><tr>
	<th>Last update</th>
	<td>{{lastupdate}}</td>
</tr><tr>
	<th>List of contributors</th>
	<td>{%for contributor in contributors%}{{contributor}}{%if not loop.last%}, {%endif%}{%endfor%}</td>
</tr>
</table>
</p>

<!--
<p> <img src="plot/discoveryyear.svg" /> </p>

<p> <img src="plot/skypositions.svg" /> </p>
-->

<!-- ########################### -->
<h2><img src="/static/img/database.png" alt="star" />Data access</h2>
<p>
	This website is just a front end that displays the database in a browser. 
	The actual database is stored in a distributed version control system. 
	There are multiple ways to download the entire database if you want to dive deeper.
	As a starting point, visit the <a href="https://github.com/OpenExoplanetCatalogue/open_exoplanet_catalogue/">main repository</a> of the Open Exoplanet Catalogue on github.
	The website itself is also open source and hosted over at <a href="https://github.com/OpenExoplanetCatalogue/oec_web/">github</a>. 
</p>



<!-- ########################### -->
<h2><img src="/static/img/xml.png" alt="star" />The XML file format and the version control system git</h2>
<p>
	The data in the Open Exoplanet Catalogue is stored in human readable XML files. 
	There is one separate file for each planetary system.
	The combination of small text files and a human readable file format makes the entire catalogue work smoothly with git, a popular version control system used to manage different versions of the catalogue.
	Git allows you to keep your local database in sync with the main repository on github. 
	You can make correction to the files and submit them back to github to be included in the main repository (you can either ask to get write access or send a pull request).
	Furthermore, you can trace back all changes made to every parameter and find out who made a certain entry and on what date.
	The git commit message usually includes the reference to the scientific paper where the data is taken from. 
	Thus, you can easily find the scientific reference for every value in the catalogue.
</p>
<p>
	If you are more familiar with simple comma or tab-separated ASCII tables, you can find these in the <a href="https://github.com/OpenExoplanetCatalogue/oec_tables/">oec_tables</a> repository on github. 
	They contain mostly the same information as the XML files.
	However, some information, especially in the case of a binary system cannot be easily represented in an ASCII table. 
	You are therefore encouraged to use the original XML files provided by the Open Exoplanet Catalogue. 
</p>
<p>
	If you want to learn how to parse XML files with python to create plots from this catalogue, have a look at the <a href="https://github.com/hannorein/oec_plots/">oec_plots</a> repository on github. 
</p>
<p>
	Please consider contributing to the Open Exoplanet Catalogue!
</p>


{% endblock content %}
