{% set OEC_LOCAL = "/open_exoplanet_catalogue/" %}
{% set OEC_OUTREACH_LOCAL = "/oec_outreach/" %}
{% set OEC_IPHONE_LOCAL = "/oec_iphone/" %}
{% set OEC_GITHUB = "https://github.com/OpenExoplanetCatalogue/open_exoplanet_catalogue/" %}
{% set OEC_TABLES_GITHUB = "https://github.com/OpenExoplanetCatalogue/oec_tables/" %}
<head profile="http://www.w3.org/2005/10/profile">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/static/css/tables.css" media="screen" />
	<script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
	<script type="text/javascript" src="/static/js/rgbcolor.js"></script> 
	<script type="text/javascript" src="/static/js/canvg.js"></script> 
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<style>
	  ::-webkit-scrollbar { 
		    display: none; 
	  }
	  body {
		      overflow:hidden;
	  }
	  .chart {
	    height: 100%;
	    width: 100%;
            position: absolute;
            left: 0px;
	    top: 0px;
	    z-index: -1;
	    margin-bottom: 1px;
            
	    display: block;
	  }
	  .chart .bar {
	    	  fill: #888;
	    	  z-index: -3;
	  }
	  .chart .bar2 {
		  font-size: 0.75em;
		  color: #F00;
		  text-anchor: middle;
	    	  z-index: -1;
	  }
	  .chart .bar3 {
		  font-size: 0.75em;
		  color: #FFF;
		  fill: #FFF;
		  text-anchor: middle;
	    	  z-index: -2;
	  }
	</style>	
</head>
<body>
<div class="outer-container">
<div class="inner-container">
<div class="header">
<div class="title">
</div> <!-- title -->
</div> <!-- header -->
<div class="navigation">
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div> <!-- navigation -->
<div class="content">
	<h1 style="font-size: 5em; position:absolute; top: 1em;">
		Number of confirmed exoplanets: {{numconfirmedplanets}}
	</h1>
	
	<br />
	<p style=" position:absolute; top: 20em;">
	Last updated: {{lastupdate}} (UTC)<br />
	Last page load: {{loaddate}} (UTC)<br />
	Source: Open Exoplanet Catalogue<br />
	</p>
	
<svg class="chart" data-bar-chart data-data="{{discoverynumbers}}" ></svg>
<svg data-labels data-data="{{discoveryyears}}" ></svg>


<script>
function build(){
  var labels = $('[data-labels]').data('data').split(',');

  $('[data-bar-chart]').each(function (i, svg) {
    var $svg = $(svg);
    var data = $svg.data('data').split(',').map(function (datum) {
      return parseFloat(datum);
    });
    var barSpace = 10;
    var barWidth = (parseFloat($svg.css("width"))-(data.length+1)*barSpace)/data.length;
    var chartHeight = $svg.outerHeight();

    var y = d3.scale.linear()
              .domain([0, d3.max(data)])
              .range([0, chartHeight/1.4]);

    var groups = d3.select(svg)
      .selectAll("rect")
        .data(data);

    var marginBottom = 35; 
    var gs = groups.enter().append("g");
    
    durationfunc = function(d,i){
	    return Math.max(200,d*0.75);
    }
    delayfunc = function(d,i){
	    if (i<=0){
		    return 0.;
	    }
	    var sum = 0;
	    for (j=0;j<i;j++){
		sum += durationfunc(data[j],0);
	    }
	    return sum;
    }

     gs.append("rect")
        .attr("class", "bar")
        .attr("width", barWidth)
        .attr("x", function (d, i) { return barWidth*i + barSpace*(i+1); })
        .attr("y", chartHeight-marginBottom)
        .attr("height", 0)
        .transition()
	.duration(durationfunc)
        .delay(delayfunc)
        .attr("y", function (d, i) { return chartHeight-y(d)-marginBottom; })
        .attr("height", function (d) { return y(d); })
	;
     gs.append("text")
        .attr("class", "bar3")
        .attr("width", barWidth)
        .attr("x", function (d, i) { return barWidth*i + barSpace*(i+1)+0.5*barWidth; })
        .attr("y", chartHeight+12)
        .attr("height", 0)
        .text(function (d, i) { return d; })
        .attr("height", 0)
        .transition()
	.duration(durationfunc)
        .delay(delayfunc)
        .attr("y", function (d, i) { return chartHeight-y(d)+16-marginBottom; })
	;
     gs.append("text")
        .attr("class", "bar2")
        .attr("width", barWidth)
        .attr("x", function (d, i) { return barWidth*i + barSpace*(i+1)+0.5*barWidth; })
        .attr("y", chartHeight+12)
        .attr("height", 0)
        .text(function (d, i) { return labels[i]; })
        .attr("height", 0)
        .transition()
	.duration(durationfunc)
        .delay(delayfunc)
        .attr("y", function (d, i) { return chartHeight-12; })
	;
     d3.select(svg).append("g").append("rect")
        .attr("class", "bar")
        .attr("width", "100%")
        .attr("x", 0)
        .attr("y", chartHeight-marginBottom)
        .attr("height", 1)
	;
     setTimeout(
     	function(){
    		d3.select(svg).selectAll("g")
			.transition()
	  		.style("opacity",0)
			.remove(); 
     		setTimeout( build, 500);
	}
	,14000
     );
  });
}
build();
</script>

</div> <!-- content -->
</div> <!-- inner container -->
</div> <!-- outer container -->
</body>
</html>
