<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/ico" href="favicon.ico" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/><meta name="description" content="description"/>
<meta name="apple-itunes-app" content="app-id=327702034"/>
<title>Open Exoplanet Catalogue {% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/css/tables.css" media="screen" />
<!-- Google Analytics start -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6857673-3");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- Google Analytics end -->
<script type="text/javascript" src="/static/js/d3.v3.min.js"></script>
<script type="text/javascript" src="/static/js/rgbcolor.js"></script> 
<script type="text/javascript" src="/static/js/canvg.js"></script> 
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script> 
</head>
<body>
<div class="outer-container">
<div class="inner-container">
<div class="header">
<div class="title">
<span id="forkongithub"><a href="http://github.com/openexoplanetcatalogue/open_exoplanet_catalogue/">Fork me on GitHub</a></span>
<div class="name"><a href="/">Open Exoplanet Catalogue</a></div>
<div class="tag">an open source database of all discovered extrasolar planets</div>
</div> <!-- title -->
</div> <!-- header -->
<div class="navigation">
<h2>Catalogue</h2>
<ul>
<li><a href="/systems/">All extrasolar planets</a></li>
</ul>

<!--
<h2>Kepler Catalogue</h2>
<ul>
<li><a href="/kepler/">Public Data Q0</a></li>
</ul>

-->
<h2>Plots</h2>
<ul>
<li><a href="/correlations/">Correlations plots</a></li>
<li><a href="/histogram/">Histograms</a></li>
<li><a href="https://github.com/hannorein/oec_plots">Python scripts<br />for offline use</a></li>
</ul>

<h2>About</h2>
<ul>
<li><a href="http://exoplanetapp.com" style="font-weight: bold; color:red;">iPhone Application</a></li>
<li><a href="/">About</a></li>
</ul>

</div> <!-- navigation -->
<div class="content">
	{% block content %}
	{% endblock %}
</div> <!-- content -->
<div class="clearer">&nbsp;</div>
<div class="footer">
The data on this page is taken from the <a href="http://github.com/hannorein/open_exoplanet_catalogue">Open Exoplanet Catalogue</a>. The Open Exoplanet Catalogue as well as this website itself are licensed under an <a href="https://github.com/hannorein/open_exoplanet_catalogue/blob/master/README.md">MIT license</a>.
</div> <!-- footer -->
</div> <!-- inner container -->
</div> <!-- outer container -->
</body>
</html>
