{% extends "detail.html" %}
{% block title %}- {{planetname}}{% endblock title %}
{% block content %}

<!-- ########################### -->
<!-- ########################### -->
<h1>{{systemname|safe}}</h1>
<p>
	{{systemcategory|safe}}
</p>
<p>
	<span class="systemdescription"></span>
</p>


<table cellspacing="0" summary="Details of the planetary system">
	<tr>
		<th scope="col" class="nobg">&nbsp;</th>
		<th scope="col">System parameters</th>
	</tr>
	{% for title,value in systemtable: %}
	<tr>
		<th scope="row">{{title|safe}}</th>
		<td>{{value|safe}}</td>
	</tr>
	{% endfor %}
</table>


<!-- ########################### -->
{% if image[0] %}
<h2><img src="/static/img/photo.png" alt="Image" />Image</h2>
<a class="systemimagelink" href='{{OEC_OUTREACH_LOCAL}}images/{{image[0]}}.jpg'><div class="systemimage" style="width:50em; height:15em; background-position:center; background-image:url('{{OEC_OUTREACH_LOCAL}}images/{{image[0]}}.jpg');">&nbsp;</div></a>
<p>
{{image[1]}}
</p>
{% endif %}


<!-- ########################### -->
<h2><img src="/static/img/binary.png" alt="Architecture" />Architecture of the system</h2>
<p>
This list shows all planetary and stellar components in the system. It gives a quick overview of the hierarchical architecture.
</p>
{{architecture|safe}}


<!-- ########################### -->
<h2><img src="/static/img/planet.png" alt="Planets" />Planets in the system</h2>
<p>This table lists all planets in the system {{systemname|safe}}.</p>
<div class="planetsection"></div>

<table cellspacing="0" summary="Details of the planetary system">
	<tr>
		<th scope="col" class="nobg">&nbsp;</th>
		{% for planetname in planettable[0]: %}
		<th scope="col">{{planetname}}</th>
		{% endfor %}
	</tr>
	{% for values in planettable[1:]: %}
	<tr>
		<th scope="row">{{planettablefields[loop.index]|safe}}</th>
		{% if values |islist %}
			{% for value in values: %}
				<td>{{value|safe}}</td>
			{% endfor %}
		{% else %}
			<td colspan="{{planettable[0]|length}}">{{values|safe}}</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>

<!-- ########################### -->
<h2><img src="/static/img/help-about.png" alt="star" />Stars in the system</h2>
<p>This table lists all stars in the system {{systemname|safe}}.</p>

<div class="starsection"></div>

<table cellspacing="0" summary="Details of the star system">
	<tr>
		<th scope="col" class="nobg">&nbsp;</th>
		{% for starname in startable[0]: %}
		<th scope="col">{{starname}}</th>
		{% endfor %}
	</tr>
	{% for values in startable[1:]: %}
	<tr>
		<th scope="row">{{startablefields[loop.index]|safe}}</th>
		{% if values |islist %}
			{% for value in values: %}
				<td>{{value|safe}}</td>
			{% endfor %}
		{% else %}
			<td colspan="{{startable[0]|length}}">{{values|safe}}</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>


<!-- ########################### -->
<h2><img src="/static/img/kig.png" alt="Visualizations" />Visualizations</h2>
<h3>Orbits</h3>
<div id="viz"></div>
<div id="sliderbox">
	<div id="speed-slider" class="dragdealer">
		<div class="red-bar handle">speed</div>
	</div>
	<div id="zoom-slider" class="dragdealer">
		<div class="red-bar handle">zoom</div>
	</div>
</div>
<style>
#viz, .infobox {
    font-family: sans-serif;
}

#viz text {
    font-family: sans-serif;
    font-size: 12px;
}
</style>

<h3>Planet sizes</h3>
<p>
The following plot shows the approximate sizes of the planets in this system
The Solar System planets are shown as a comparison.
Note that unless the radius has been determined through a transit observation, this is only an approximation (see Lissauer et al. 2011b).
</p>
<svg width="480" height="400">
{{ vizsize|safe }}
</svg>


{% if vizhabitable %}
<h3>Habitable zone</h3>
<p>
The following plot shows the approximate location of the planets in this system with respect to the habitable zone (green) and the size of the star (red).
This is only an estimate, using the star's spectral type and mass. 
Note that if no green band is shown in the plot, then the planet's orbit is far outside the habitable zone.
The equations of <a href="http://adsabs.harvard.edu/abs/2007A%26A...476.1373S">Selsis, Kasting et al</a> are used to draw the inner and outer boundaries. 
</p>
<svg width="600" height="100">
{{ vizhabitable|safe }}
</svg>
{% endif  %}


{{ super() }}

{% endblock content %}
