{% extends "layout.html" %}
{% block title %}- {{planetname}}{% endblock title %}
{% block content %}

<script type="text/javascript">
function qs(key) {
    key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
    var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"));
    return match && decodeURIComponent(match[1].replace(/\+/g, " "));
}
$(document).ready(function(){
	var systemname = qs("id");  // make this php-able
	$.ajax({
		type: "GET",
		url: "./open_exoplanet_catalogue/systems/"+systemname+".xml",
		dataType: "xml",
		success: setupPage
		});
	});

var subSystemString = "";
function setupArchitecture(o,stype){
	stype = typeof stype !== 'undefined' ? stype : 0;
	if (stype==1){
		subSystemString += "<ul style=\"padding: 0; margin: 0;\">";
	}else{
		subSystemString += "<ul style=\"padding-left: 1em; margin-left: 1em;\">";
	}
	var binaries = $("> binary",o);
	for(var i=0;i<binaries.length;i++){
		var binary = binaries.eq(i);
		subSystemString += "<li><img src=\"/static/img/binary.png\" width=\"16\" height=\"16\" />&nbsp;Stellar binary";
		var semia = $("> semimajoraxis",binary);
		if (semia){
			subSystemString += ", semi-major axis: "+getFormatForTag(semia)+" AU";
		}
		var period = $("> period",binary);
		if (period){
			if (parseFloat(period.text())>1000){
				subSystemString += ", " +getFormatForTag(period,0.002737909)+" years";
			}else{
				subSystemString += ", " +getFormatForTag(period)+" days";
			}
		}
		setupArchitecture(binary,2);
	}
	var stars = $("> star",o);
	for(var i=0;i<stars.length;i++){
		var star = stars.eq(i);
		subSystemString += "<li><img src=\"/static/img/star.png\" width=\"16\" height=\"16\" />&nbsp;"+$("name",star).first().text()+", stellar object";
		setupArchitecture(star);
	}
	var planets = $("> planet",o);
	for(var i=0;i<planets.length;i++){
		var planet = planets.eq(i);
		subSystemString += "<li><img src=\"/static/img/planet.png\" width=\"16\" height=\"16\" />&nbsp;"+$("name",planet).first().text();
		if (stype==0){
			subSystemString += ", planet";
		}
		if (stype==1){
			subSystemString += ", orphan planet";
		}
		if (stype==2){
			subSystemString += ", circumbinary planet, P-type";
		}
		var semia = $("> semimajoraxis",planet);
		if (semia){
			subSystemString += ", semi-major axis: "+getFormatForTag(semia)+" AU";
		}
		setupArchitecture(planet);
	}
	subSystemString += "</ul>";
}


var planets;
var stars; 
var system;
function setupPage(xml){
	setupOrbitPlot(xml);
	planets = $(xml).find("planet");
	stars = $(xml).find("star");
	system = $(xml).find("system");

	if (stars.length<2 && planets.length==1){
		$(".systemdescription").text($("description",planets[0]).text());
	}
	$(".systemdistancelightyears").html(getFormatForTag($("> distance",system),3.261));
	$(".systemnumberofstars").text(stars.length);
	$(".systemnumberofplanets").text(planets.length);
	$(".systemdeclination").html(getFormatForDeclination($("> declination",system).text()));
	if (planets.length>1){
		var systemimage = $("image",system).first().text();
		if (systemimage.length){
			$(".systemimagesection").css("display","inline");
			$(".systemimage").css("background-image","url('./open_exoplanet_catalogue/images/"+systemimage+".jpg')"); 
			$(".systemimagelink").attr("href","./open_exoplanet_catalogue/images/"+systemimage+".jpg");
			$(".systemimagedescription").text($("imagedescription",system).first().text());
		}
		var systemvideo = $("videolink",system).first().text().split("/").pop();
		if (systemvideo.length){
			$(".systemvideosection").css("display","inline");
			$(".systemvideo").attr("src","http://www.youtube.com/embed/"+systemvideo+"?rel=0&autoplay=1");
		}
	}
	
	setupArchitecture(system,1);
	$(".systembinary").html(subSystemString);

	for (var i=0;i<planets.length;i+=2){
		$("#planettabletemplate").clone().css("display","table").appendTo(".planetsection");
	}
	var tables = $(".planetsection > .planettable");
	for (var i=0;i<planets.length;i++){
		var table = tables.eq(i/2);
		var planet = planets.eq(i);
		var planetnames = $("name",planet);
		$(".planetname",table).append("<th scope=\"col\">"+planetnames.first().text()+"</th>");
		var alternativename = "<td>";
		if (planetnames.length>1){
			for(var j=1;j<planetnames.length;j++){
				alternativename += planetnames.eq(j).text();
				if (j!=planetnames.length-1){
					alternativename += ", ";
				}
			}
		}else{
			alternativename += notAvailableString;
		}
		alternativename += "</td>";
		$(".planetalternativename",table).append(alternativename);
		$(".planetdescription",table).append("<td><div style=\"max-width: "+(planets.length==1?34:17)+"em;\">"+getFormatForTagText($("> description",planet))+"</div></td>");
		var planetlists = $("list",planet);
		var lists = "<td>";
		if (planetlists.length>0){
			for(var j=0;j<planetlists.length;j++){
				lists += planetlists.eq(j).text();
				if (j!=planetlists.length-1){
					lists += ", ";
				}
			}
		}else{
			lists += notAvailableString;
		}
		lists += "</td>";
		$(".planetlists",table).append(lists);
		$(".planetmass",table).append("<td>"+getFormatForTag($("> mass",planet))+"</td>");
		$(".planetmassearth",table).append("<td>"+getFormatForTag($("> mass",planet),317.8942)+"</td>");
		$(".planetperiod",table).append("<td>"+getFormatForTag($("> period",planet))+"</td>");
		$(".planeteccentricity",table).append("<td>"+getFormatForTag($("> eccentricity",planet))+"</td>");
		$(".planetsemia",table).append("<td>"+getFormatForTag($("> semimajoraxis",planet))+"</td>");
		$(".planetradius",table).append("<td>"+getFormatForTag($("> radius",planet))+"</td>");
		$(".planetradiusearth",table).append("<td>"+getFormatForTag($("> radius",planet),10.973299)+"</td>");
		$(".planettemperature",table).append("<td>"+getFormatForTag($("> temperature",planet))+"</td>");
		$(".planetdiscoverymethod",table).append("<td>"+getFormatForTagText($("> discoverymethod",planet))+"</td>");
		$(".planetdiscoveryyear",table).append("<td>"+getFormatForTagText($("> discoveryyear",planet))+"</td>");
		$(".planetlastupdate",table).append("<td>"+getFormatForTagText($("> lastupdate",planet))+"</td>");

	}
	
	for (var i=0;i<stars.length;i+=2){
		$("#startabletemplate").clone().css("display","table").appendTo(".starsection");
	}
	var tables = $(".starsection > .startable");
	for (var i=0;i<stars.length;i++){
		var table = tables.eq(i/2);
		var star = stars.eq(i);
		var starnames = $("> name",star);
		$(".starname",table).append("<th scope=\"col\">"+starnames.first().text()+"</th>");
		var alternativename = "<td>";
		if (starnames.length>1){
			for(var j=1;j<starnames.length;j++){
				alternativename += starnames.eq(j).text();
				if (j!=starnames.length-1){
					alternativename += ", ";
				}
			}
		}else{
			alternativename += notAvailableString;
		}
		alternativename += "</td>";
		$(".staralternativename",table).append(alternativename);
		$(".starmass",table).append("<td>"+getFormatForTag($("> mass",star))+"</td>");
		$(".starradius",table).append("<td>"+getFormatForTag($("> radius",star))+"</td>");
		$(".starage",table).append("<td>"+getFormatForTag($("> age",star))+"</td>");
		$(".starmetallicity",table).append("<td>"+getFormatForTag($("> metallicity",star))+"</td>");
		$(".starspectraltype",table).append("<td>"+getFormatForTag($("> spectraltype",star))+"</td>");
		$(".startemperature",table).append("<td>"+getFormatForTag($("> temperature",star))+"</td>");
		$(".starmagv",table).append("<td>"+getFormatForTag($("> magV",star))+"</td>");
	}
}

</script>


<!-- ########################### -->
<!-- ########################### -->
<div style="width:50em;">
	<div style="float:right;">
		<iframe src="http://www.facebook.com/plugins/like.php?href=<?
		$url = "http://exoplanet.hanno-rein.de/system.php?id=".urlencode($system->name);
		print urlencode($url);
		?>&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:25em; height:25px; padding-top:0.9em;" allowTransparency="true">
		</iframe>
	</div>
</div>
<h1>{{systemname|safe}}</h1>
<p>
	{{systemcategory|safe}}
</p>
<p>
	<span class="systemdescription"></span>
</p>

<div class="spacer"></div>


<table cellspacing="0" summary="Details of the planetary system">
	<tr>
		<th scope="col" class="nobg">&nbsp;</th>
		<th scope="col">System parameters</th>
	</tr>
	{% for title,value in systemtable: %}
	<tr>
		<th scope="row">{{title|safe}}</th>
		<td>{{value|safe}}</td>
	</tr>
	{% endfor %}
</table>


<!-- ########################### -->
<div class="systemimagesection" style="display: none;">
<h2><img src="/static/img/photo.png" alt="Image" />Image</h2>
<a class="systemimagelink" href='#'><div class="systemimage" style="width:50em; height:15em; background-position:center;">&nbsp;</div></a>
<p>
<span class="systemimagedescription"></span><br /> Click on the image to get a higher resolution image.
</p>
</div>


<!-- ########################### -->
<h2><img src="/static/img/binary.png" alt="Architecture" />Architecture of the system</h2>
<p>
This list shows all planetary and stellar components in the system. It gives a quick overview of the hierarchical architecture.
<span class="systembinarytext"></span>
</p>
<div class="systembinary"> 
</div>



<!-- ########################### -->
<div class="systemvideosection" style="display: none;">
<h2><img src="/static/img/movie.png" alt="Video" />Video</h2>
<p>This video shows the planetary system {{systemname|safe}}. It was created with the <a href="http://exoplanetapp.com">Exoplanet App</a>.</p>
<iframe width="640" height="360" class="systemvideo" frameborder="0" allowfullscreen></iframe>
</div>


<!-- ########################### -->
<h2><img src="/static/img/planet.png" alt="Planets" />Planets in the system</h2>
<p>This table lists all planets in the system {{systemname|safe}}.</p>
<div class="planetsection"></div>

<table cellspacing="0" summary="Details of the planetary system">
	<tr>
		<th scope="col" class="nobg">&nbsp;</th>
		<th scope="col">Planet parameters</th>
	</tr>
	{% for title,value in planettable: %}
	<tr>
		<th scope="row">{{title|safe}}</th>
		<td>{{value|safe}}</td>
	</tr>
	{% endfor %}
</table>

<!-- ########################### -->
<h2><img src="/static/img/help-about.png" alt="star" />Stars in the system</h2>
<p>This table lists all stars in the system {{systemname|safe}}.</p>

<div class="starsection"></div>

<table cellspacing="0" summary="Details of the star system">
	<tr>
		<th scope="col" class="nobg">&nbsp;</th>
		<th scope="col">Stellar parameters</th>
	</tr>
	{% for title,value in startable: %}
	<tr>
		<th scope="row">{{title|safe}}</th>
		<td>{{value|safe}}</td>
	</tr>
	{% endfor %}
</table>


<!-- ########################### -->
<h2><img src="/static/img/kig.png" alt="Visualizations" />Visualizations</h2>
<h3>Orbits</h3>
<div id="viz"></div>
<div id="sliderbox">
	<div id="speed-slider" class="dragdealer">
		<div class="red-bar handle">speed</div>
	</div>
	<div id="zoom-slider" class="dragdealer">
		<div class="red-bar handle">zoom</div>
	</div>
</div>
<style>
#viz, .infobox {
    font-family: sans-serif;
}

#viz text {
    font-family: sans-serif;
    font-size: 12px;
}
</style>

<h3>Planet sizes</h3>
<p>
The following plot shows the approximate sizes of the planets in this system
The Solar System planets are shown as a comparison.
Note that unless the radius has been determined through a transit observation, this is only an approximation (see Lissauer et al. 2011b).
</p>
<object data="./size.php?id=<?=urlencode($requestname)?>" width="480" height="400" type="image/svg+xml" ></object>
<? // show_svg("./size.php?id=".urlencode($requestname),480,400,"png"); ?>
<?
// Only non circumbinary planets
if (count($system->xpath(".//star/planet"))>0){
?>
<h3>Habitable zone</h3>
<p>
The following plot shows the approximate location of the planets in this system with respect to the habitable zone (green) and the size of the star (red).
This is only an estimate, using the star's spectral type and mass. 
Note that if no green band is shown in the plot, then the planet's orbit is far outside the habitable zone.
The equations of <a href="http://adsabs.harvard.edu/abs/2007A%26A...476.1373S">Selsis, Kasting et al</a> are used to draw the inner and outer boundaries. 
</p>
<object data="./habitablezone.php?id=<?=urlencode($requestname)?>" width="600" height="100" type="image/svg+xml"></object>
<?  //show_svg("./habitablezone.php?id=".urlencode($requestname),600,100,"png"); ?>
<?}?>



<!-- ########################### -->
<h2><img src="/static/img/info.png" alt="references" />Scientific references and contributors</h2>
<ul style="padding-left:0;">
</ul>


<script language="php">
if (file_exists($filenamemeta)){
	$metasystem 	= simplexml_load_file($filenamemeta);
	$contributors 	= $metasystem->xpath('.//contributor');
	$links	 	= $metasystem->xpath('.//link');
}
</script>


<h3>Links to scientific papers and other data sources</h3>
<p>The following table lists all links which are relevant to this particular system.</p>
<table cellspacing="0" summary="Links">
<?foreach($links as $link){?>
<tr>
	<td>
		<img src="/static/img/link.png" width=11 height=11 alt ="history" /> 
		<a href="<?=$link?>"><?=$link?></a> 
	</td>
</tr>
<?}?>
</table>
<p>
Note that this is just a summary. 
More references to the scientific publications and comments can be found in the commit messages.
To see these, head over the github or <a href="https://github.com/hannorein/open_exoplanet_catalogue/blame/master/systems/<?=$filenamebase?>">click here</a> to directly go to the git blame output of this system.
In the left column of the output you can see the commit message corresponding to each parameter. 
It also lists the date of the last commit and the person making the changes.
Within the commit message, you will find a link to the scientific publication where the data is taken from.
Note that this is a new feature and not all system parameters might have a reference associated with it yet.
Please help making this catalogue better and contribute data or references!
</p>




<h3>Open Exoplanet Catalogue contributors</h3>
<p>This table lists all people who have contributed to the Open Exoplanet Catalogue. 
Please consider contributing! <a href="http://openexoplanetcatalogue.com/contribute/">Click here</a> to find out how.
</p>
<table cellspacing="0" summary="Contributors">
<tr>
	<th scope="col">Number of commits</th>
	<th scope="col">Contributor</th>
	<th scope="col">E-mail</th>
</tr>
<?foreach($contributors as $contributor){?>
<tr>
	<td>
		<img src="/static/img/history.png" width=11 height=11 alt="blame" /> 
		<?=$contributor['commits']?> 
	</td>
	<td>
		<?=$contributor?>
	</td>
	<td>
		<?=str_replace("@","(at)",$contributor['email'])?>
	</td>
</tr>
<?}?>
</table>
<p>
	View all <a href="https://github.com/hannorein/open_exoplanet_catalogue/commits/master/systems/<?=$filenamebase?>">commits</a> contributing to the file <?=$filenamebase?>.
</p>

<p>
</p>




<!-- ########################### -->
<h2><img src="/static/img/xml.png" alt="xml" />Data download</h2>
<p>
<a href="./<?=$filename?>" alt="XML File">Click here to download</a> the XML file for this system. It is part of the <a href="https://github.com/hannorein/open_exoplanet_catalogue">Open Exoplanet Catalogue</a>. All information on this page has been directly generated from this XML file. As an alternative to the single XML file, you can also download the entire catalogue on github at <a href="https://github.com/hannorein/open_exoplanet_catalogue/">https://github.com/hannorein/open_exoplanet_catalogue/</a>. You can also find ASCII tables of the same catalogue at <a href="https://github.com/hannorein/oec_tables/">https://github.com/hannorein/oec_tables/</a>. Some information, especially in the case of a binary system cannot be easily represented in an ASCII table. You are therefore encouraged to use the original XML files provided by the Open Exoplanet Catalogue. 
</p>


<!-- ########################### -->
<h2><img src="/static/img/lightbulb.png" alt="corrections" />Corrections</h2>
<p>
If you spot an error or if you can contribute additional data to this entry, please send an e-mail to <a href="mailto:exoplanet@hanno-rein.de">exoplanet@hanno-rein.de</a>.
If possible, please include the corrected <a href="./<?=$filename?>" alt="XML File">XML file</a> of this entry and a reference to where the new data is coming from, ideally a scientific paper.
If you are fluent with git and <a href="http://github.com">github</a>, you can also create a pull request or open an issue on the <a href="https://github.com/hannorein/open_exoplanet_catalogue">Open Exoplanet Catalogue</a> repository.
In that case, your contribution will be properly attributed. 
Please include the reference in your commit message.





{% endblock content %}
